
@import '../../styles/main.scss';

.floating-container {
    background: $bgr_3;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    display: flex;
    box-shadow: 0 10px 15px #13407433;
    flex-wrap: nowrap;
    justify-content: center;
}