@import '../../styles/main.scss';

.button-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 280px;
    height: 44px;
    background: $button_color_1;
    border-radius: 40px;
    border-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $text_color_2;
}

.button-primary:active {
    opacity: 0.75;
}