$bgr_1: #BCC0E2;
$bgr_2: #EDEDED;
$bgr_3: #FFFFFF;
$bgr_4: #DEE2E3;

$text_color_1: #8B999D;
$text_color_2: #FFFFFF;
$text_color_3: #4C585B;

$button_color_1: #4C585B;
$button_color_2: #4C585B;
$button_color_3: #4C585B;
$button_color_4: #4C585B;

$stroke_1: #DFDFDF;

$errorColor: #ff2f2f;