.link_style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #0B2545;
    padding: 10px;
    width: 300px;
}

.menu {
    display: inline-grid;
}