<html>
<head>
    <title>Временные ссылки</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class="">
    <a href="./pages/login.hbs" class="">Авторизация</a>
    <a href="./pages/register.hbs" class="">Регистрация</a>
    <a href="./pages/chat.hbs" class="">Чаты и переписка</a>
    <a href="./pages/profile.hbs" class="">Настройки пользователя</a>
    <a href="./pages/404.hbs" class="">404</a>
    <a href="./pages/500.hbs" class="">5**</a>
</div>
</body>
<script src="./index.js" type="module"></script>
</html>