---
id: "root"
---
<html>
<head>
    <title>Временные ссылки</title>
    <link rel="stylesheet" href="./styles/styles.css" />
</head>
<body>
<div class="">
    <a href="./pages/login.hbs" class="link_style">Авторизация</a>
    <a href="./pages/register.hbs" class="link_style">Регистрация</a>
    <a href="./pages/chat.hbs" class="link_style">Чаты и переписка</a>
    <a href="./pages/profile.hbs" class="link_style">Настройки пользователя</a>
    <a href="./pages/404.hbs" class="link_style">404</a>
    <a href="./pages/500.hbs" class="link_style">5**</a>
</div>
<div id="{{ id }}"></div>
</body>
<script src="index.js" type="module"></script>
</html>